/*==========================NORMALIZE==========================*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

/*============================FONT============================*/
@font-face {
  font-family: Raleway;
  font-weight: 400;
  font-style: normal;
  src: local("Bergen"), url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.woff2") format("eot");
  font-display: swap;
}
@font-face {
  font-family: Raleway;
  font-weight: 700;
  font-style: normal;
  src: local("Bergen"), url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: Canale;
  font-weight: bold;
  font-style: normal;
  src: local("Canale"), url("../fonts/canela_bold.woff2") format("woff2"), url("../fonts/canela_bold.woff") format("woff"), url("../fonts/canela_bold.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: inter;
  font-weight: bold;
  font-style: normal;
  src: local("Bergen"), url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff2") format("woff");
  font-display: swap;
}
@font-face {
  font-family: inter;
  font-weight: 400;
  font-style: normal;
  src: local("Bergen"), url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff2") format("woff");
  font-display: swap;
}
/*============================GLOBAL============================*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Raleway;
}

body {
  background: rgb(22, 22, 22);
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.burger {
  opacity: 0;
}

.about__main {
  padding: 90px 0;
}

.connection__main {
  padding: 90px 0;
}

/*============================HEADER============================*/
.header {
  min-height: 100vh;
  padding-bottom: 10px;
  background: rgba(22, 22, 22, 0.9647058824);
}

.header__top {
  padding: 30px 0;
}

.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-logo {
  font-weight: 800;
  font-size: 20px;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__top-logo:hover {
  color: #d2fe67;
}
.header__top-logo span {
  color: #d2fe67;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__top-logo:hover span {
  color: #fff;
}

.header__top-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__top-item {
  margin-right: 35px;
}
.header__top-item:last-child {
  margin-right: 0;
}

.header__top-link {
  font-weight: 400;
  color: #d5d3d3;
  font-size: 14px;
  padding-bottom: 5px;
  position: relative;
}
.header__top-link:hover {
  color: #d2fe67;
}
.header__top-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  background: #d2fe67;
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.header__top-item:hover .header__top-link::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
}

.dropdown--list {
  position: relative;
}
.dropdown--list:hover > .header__dropdown-list {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  opacity: 1;
}

.dropdown--link {
  position: relative;
}
.dropdown--link:focus {
  color: #d2fe67;
}
.dropdown--link:focus + .header__dropdown-list {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  opacity: 1;
}

.header__dropdown-list {
  position: absolute;
  top: 20px;
  left: -35px;
  background: #d2fe67;
  display: none;
  z-index: 50;
  opacity: 0;
  padding: 5px 0 0 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-clip-path: polygon(50% 1%, 55% 6%, 100% 6%, 100% 100%, 0 100%, 0 6%, 45% 6%);
          clip-path: polygon(50% 1%, 55% 6%, 100% 6%, 100% 100%, 0 100%, 0 6%, 45% 6%);
}

.header__dropdown-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.0705882353);
}

.header__dropdown-link {
  padding: 10px 20px;
  text-align: center;
  font-weight: 400;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__dropdown-link:hover {
  color: #fff;
  background: rgba(22, 22, 22, 0.9647058824);
}

.header__body {
  padding: 40px 0 60px 0;
}

.header__body-inner {
  width: 100%;
  position: relative;
}

.header__body-main {
  background: #131313;
  border-radius: 40px;
  padding: 30px;
  position: relative;
  max-width: 1150px;
  margin: 0 auto;
}

.header__body-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__body-play {
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__body-play svg {
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  fill: #d2fe67;
}
.header__body-play:hover svg {
  fill: #d2fe67;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

.header__body-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__body-info {
  max-width: 600px;
  text-align: center;
}

.header__body-title {
  font-weight: 800;
  font-size: 20px;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 40px;
}
.header__body-title span {
  color: #d2fe67;
}

.header__body-subtitle {
  margin: 30px 0 40px 0;
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  line-height: 50px;
}
.header__body-subtitle span {
  color: #d2fe67;
}

.header__body-button {
  margin-right: 20px;
}

.button {
  display: inline-block;
  font-size: 22px;
  background: #d2fe67;
  padding: 12px 15px;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
}
.button:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
  background: #98b848;
}

.header__body-images {
  margin: 0 auto;
  max-width: 400px;
  height: 400px;
  overflow: hidden;
}
.header__body-images img {
  width: 100%;
  height: 100%;
}

.slick-initialized .slick-slide {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header__body-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__body-arrows {
  font-weight: 700;
  font-size: 28px;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
}
.header__body-arrows:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  color: #d2fe67;
  text-shadow: 0 0 10px #d2fe67;
}

.arrows__prev {
  top: 40%;
  left: 0;
}

.arrows__next {
  top: 40%;
  right: 0;
}

.header__bottom {
  width: 100%;
  padding-bottom: 20px;
}

.header__bottom-inner {
  max-width: 1150px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__countdown {
  max-width: 600px;
  background: #2a2a2a;
  padding: 20px;
  border-radius: 10px;
}

.header__countdown-info {
  text-align: center;
}

.header__countdown-title {
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}
.header__countdown-title span {
  color: #d2fe67;
}

.header__countdown-svg {
  padding: 10px;
  background: #1a1b1a;
  border-radius: 50%;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__countdown-svg svg {
  fill: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__countdown-svg:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.header__countdown-svg:hover svg {
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.header__countdown-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #d2fe67;
  padding: 7px 30px;
  border-radius: 10px;
}
.header__countdown-button span {
  max-width: 180px;
}

.header__coutdown-time {
  font-size: 16px;
  color: #b5b5b5;
  margin: 20px 0 10px 0;
  text-align: center;
}

.header__countdown-timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #d2fe67;
  font-size: 50px;
  font-weight: bold;
}

.header__countdown-hours {
  margin-right: 5px;
  font-family: inter;
}

.header__countdown-minute {
  font-family: inter;
  margin: 0 5px;
}

.header__countdown-second {
  font-family: inter;
  margin-left: 5px;
}

.header__info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.header__info-box {
  border: 1px solid #7e7e7e;
  padding: 20px 15px;
  font-size: 20px;
  font-weight: 700;
  color: #d5d3d3;
  border-radius: 10px;
}
.header__info-box span {
  color: #fff;
}

@media (max-width: 1150px) {
  .header__info-grid {
    margin-left: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
  }
  .header__info-box {
    padding: 15px;
  }
  .header__bottom-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 900px) {
  .header__body-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__body-images {
    margin-top: 40px;
  }
}
@media (max-width: 860px) {
  .header__bottom-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__info-grid {
    margin-left: 0;
    margin-top: 20px;
  }
  .header__info-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (max-width: 650px) {
  .header__info-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
@media (max-width: 600px) {
  .header__top-navbar {
    display: none;
  }
  .burger {
    opacity: 1;
    position: fixed;
    top: 33px;
    right: 20px;
    width: 25px;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    z-index: 100;
  }
  .burger span {
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
    border-radius: 3px;
    margin: 3px 0;
  }
  .burger::before, .burger::after {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
    border-radius: 3px;
  }
}
@media (max-width: 480px) {
  .header__body-content {
    padding: 20px 0;
  }
  .header__body-subtitle {
    font-size: 24px;
    margin: 20px 0;
  }
  .header__body-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__body-button {
    margin-right: 0;
  }
  .header__body-play {
    margin-top: 20px;
  }
  .header__body-images {
    max-width: 320px;
    height: 320px;
  }
}
@media (max-width: 380px) {
  .header__body-title {
    font-size: 30px;
  }
  .header__body-subtitle {
    font-size: 18px;
  }
  .header__body-button {
    font-size: 18px;
  }
  .header__body-images {
    display: none;
  }
}
@media (max-width: 350px) {
  .header__countdown-button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__countdown-button span {
    margin-top: 10px;
  }
  .modal__window {
    padding: 20px 0px 0;
  }
}
.about__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__video {
  max-width: 625px;
  overflow: hidden;
}
.about__video video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.about__info {
  max-width: 100%;
  background: #131313;
  padding: 30px;
  border-radius: 10px;
  margin: 0 auto;
}

.about__info-title {
  font-size: 35px;
  font-weight: 700;
  color: #d2fe67;
}

.about__info-item {
  margin: 10px 0 40px;
  color: #ffffff;
  font-size: 16px;
}

.about__info-text {
  color: #9d9d9d;
  font-size: 16px;
  max-width: 500px;
  margin-bottom: 40px;
  line-height: 1.3;
}

.about__info-button {
  display: inline-block;
  font-size: 22px;
  background: #d2fe67;
  padding: 12px 15px;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
}
.about__info-button:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
  background: #98b848;
}

.about__cards {
  margin-top: 50px;
}

.about__cards-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__cards-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #d2fe67;
  padding: 15px;
  margin-right: 30px;
  border-radius: 10px;
}
.about__cards-box:last-child {
  margin-right: 0;
}
.about__cards-box svg {
  width: 50px;
  margin-right: 20px;
}

.about__cards-info {
  max-width: 150px;
}

.about__cards-numb {
  font-size: 30px;
  font-weight: 700;
  font-family: sans-serif;
}

.about__cards-items {
  margin-top: 5px;
}

@media (max-width: 1140px) {
  .about__cards-box {
    margin-top: 10px;
    margin-right: 5px;
  }
  .about__info {
    margin-top: 10px;
    min-width: 620px;
  }
  .about__video {
    margin: 0 auto;
  }
  .about__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 650px) {
  .about__info {
    min-width: 290px;
  }
  .about__video video {
    min-width: 290px;
  }
}
@media (max-width: 500px) {
  .about__info {
    text-align: center;
  }
  .about__cards-box {
    margin-right: 0;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.667);
}

.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 320px;
  height: 400px;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
          box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  -webkit-animation-name: modalopen;
          animation-name: modalopen;
  -webkit-animation-duration: var(--modal-duration);
          animation-duration: var(--modal-duration);
  background: white;
  padding: 20px 20px 0;
  border-radius: 10px;
  background: #d2fe67;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.modal__close {
  padding: 8px 7px 5px 8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
}
.modal__close svg {
  width: 15px;
  height: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.modal__close:hover {
  background: #0b0b0b;
}
.modal__close:hover svg {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  fill: #fff;
}

.modal__title {
  display: inline-block;
  margin: 0 auto;
  font-size: 25px;
  font-weight: 700;
}

.modal__form {
  max-width: 280px;
  padding: 30px 0;
  text-align: center;
}

.modal__form-label {
  display: block;
  margin-bottom: 20px;
}
.modal__form-label span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5px;
}

.modal__form-input {
  width: 100%;
  padding: 10px 0;
  border: 1px solid #8f8d8d;
  text-align: center;
  border-radius: 10px;
  color: #000;
}
.modal__form-input::-webkit-input-placeholder {
  font-size: 14px;
  color: #8f8d8d;
}
.modal__form-input::-moz-placeholder {
  font-size: 14px;
  color: #8f8d8d;
}
.modal__form-input:-ms-input-placeholder {
  font-size: 14px;
  color: #8f8d8d;
}
.modal__form-input::-ms-input-placeholder {
  font-size: 14px;
  color: #8f8d8d;
}
.modal__form-input::placeholder {
  font-size: 14px;
  color: #8f8d8d;
}

.modal__form-button {
  padding: 10px 20px;
  background-color: #191919;
  color: #fff;
  border-radius: 10px;
  width: 70%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.modal__form-button:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

@-webkit-keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}