/*============================HEADER============================*/
.header {
  height: 100vh;
  background: #161616f6;
}
.header__top {
  padding: 30px 0;
}
.header__top-inner {
  @include flex;
}
.header__top-logo {
  @include logo;
  &:hover {
    color: #d2fe67;
  }
  & span {
    color: #d2fe67;
    transition: all .3s;
  }
  &:hover span {
    color: #fff;
  }
}
.header__top-list {
  display: flex;
}
.header__top-item {
  margin-right: 35px;
  &:last-child {
    margin-right: 0;
  }
}
.header__top-link {
  font-weight: 400;
  color: #d5d3d3;
  font-size: 14px;
  padding-bottom: 5px;
  position: relative;
  &:hover {
    color: #d2fe67;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    background: #d2fe67;
    transform-origin: bottom right;
    transition: transform .3s ease-out;
  }
}
.header__top-item:hover .header__top-link::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.dropdown--list {
  position: relative;
  &:hover > .header__dropdown-list {
    transition: all .3s;
    display: block;
    opacity: 1;
  }
}
.dropdown--link {
  position: relative;
  &:focus {
    color: #d2fe67;
  }
  &:focus + .header__dropdown-list {
    transition: all .3s;
    display: block; 
    opacity: 1;
  }
}
.header__dropdown-list {
  position: absolute;
  top: 20px; left: -35px;
  background: #d2fe67;
  display: none;
  z-index: 50;
  opacity: 0;
  padding: 5px 0 0 0;
  transition: all .3s;
  clip-path: polygon(50% 1%, 55% 6%, 100% 6%, 100% 100%, 0 100%, 0 6%, 45% 6%);
}
.header__dropdown-item {
  border-bottom: 1px solid #00000012;
}
.header__dropdown-link {
  padding: 10px 20px;
  text-align: center;
  font-weight: 400;
  display: block;
  transition: all .3s;
  &:hover {
    color: #fff;
    background: #161616f6;
  }
}
.header__body {
  padding: 40px 0 60px 0;
}
.header__body-container {
}
.header__body-inner {
  width: 100%;
  position: relative;
}
.header__body-main {
  background: #131313;
  border-radius: 40px;
  padding: 30px;
  position: relative;
  max-width: 1150px;
  margin: 0 auto;
}
.header__body-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__body-play {
  border-radius: 50%;
  transition: all .3s;
  & svg {
    width: 30px;
    height: 30px;
    transition: all .3s;
    fill: #d2fe67;
  }
  &:hover svg{
    fill: #d2fe67;
    transform: scale(0.8)
  }
} 
.header__body-content {
  display: flex;
  align-items: center;
}
.header__body-info {
  max-width: 600px;
  text-align: center;
}
.header__body-title {
  @include logo;
  font-size: 40px;
  & span {
    color: #d2fe67;
  }
}
.header__body-subtitle {
  margin: 30px 0 40px 0;
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  line-height: 50px;
  & span {
    color: #d2fe67;
  }
}
.header__body-button {
  margin-right: 20px;
}
.button {
  @include button__yellow
}
.header__body-images {
  margin: 0 auto;
  & img {
    width: 400px;
    height: 400px;
  }
}
.slick-initialized .slick-slide {
  display: inline-flex;
}
.header__body-arrow {
  display: flex;
}
.header__body-arrows {
  font-weight: 700;
  font-size: 28px;
  color: #fff;
  transition: all .3s;
  position: absolute;
  &:hover {
    transform: scale(1.3);
    color: #d2fe67;
    text-shadow: 0 0 10px #d2fe67;
  }
}
.arrows__prev {
  top: 40%; left: 0;
}
.arrows__next {
  top: 40%; right: 0;
}
.header__bottom {
  width: 100%;
  padding-bottom: 50px;
}
.header__bottom-inner {
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__countdown {
  max-width: 600px;
  background: #2a2a2a;
  padding: 20px;
  border-radius: 10px;
}
.header__countdown-info {
  text-align: center;
}
.header__countdown-title {
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
  & span {
    color: #d2fe67;
  }
}
.header__countdown-svg {
  padding: 10px;
  background: #1a1b1a;
  border-radius: 50%;
  display: block;
  transition: all .3s;
  & svg {
    fill: #fff;
    transition: all .3s;
  }
  &:hover {
    transform: scale(1.05);
  }
  &:hover svg {
    transform: rotate(-10deg);
  }
}
.header__countdown-button {
  display: inline-flex;
  align-items: center;
  background: #d2fe67;
  padding: 7px 30px;
  border-radius: 10px;
  & span {
    max-width: 200px;
  }
}
.header__coutdown-time {
  font-size: 16px;
  color: #b5b5b5;
  margin: 20px 0 10px 0;
  text-align: center;
}
.header__countdown-timer {
  display: flex;
  justify-content: center;
  color: #d2fe67;
  font-size: 50px;
  font-weight: bold;
}
.header__countdown-hours {
  margin-right: 5px;
  font-family: inter;
}
.header__countdown-minute {
  font-family: inter;
  margin: 0 5px;
}
.header__countdown-second {
  font-family: inter;
  margin-left: 5px;
}
.header__info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.header__info-box {
  border: 1px solid #7e7e7e;
  padding: 20px 15px;
  font-size: 20px;
  font-weight: 700;
  color: #d5d3d3;
  border-radius: 10px;
  & span {
    color: #fff;
  }
}














@media (max-width: 600px) {
  .header__top-navbar {
    display: none;
  }
  .burger {
    opacity: 1;
    position: fixed;
    top: 33px; right: 20px;
    width: 25px;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    & span {
      display: block;
      width: 25px;
      height: 3px;
      background: #fff;
      border-radius: 3px;
      margin: 3px 0;
    }
    &::before,
    &::after {
      content: '';
      display: block;
      width: 25px;
      height: 3px;
      background: #fff;
      border-radius: 3px;
    }
  }
}