/*============================GLOBAL============================*/
* {
  box-sizing: border-box;
  font-family: Raleway;
}
body {
  background: rgba(22, 22, 22);
}
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}
.burger {
  opacity: 0;
}
.about__main {
  padding: 90px 0;
}
.connection__main {
  padding: 90px 0;
}